<!DOCTYPE html>
<html>
  <head>
    <title>App1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="header1">
          <div class="container">
              <div class="row">
                  <div class="logo">
                     <h1><span class="color1">D</span><span class="color2">e</span><span class="color3">v</span></h1>
                  </div>
                  <div class="nav-links">
                     <ul>
                        
                        <li><%= link_to "Home", root_path %></li>
                        <li><%= link_to "About", welcome_page_about_path %></li>
                        <li><%= link_to "Log in", new_user_session_path %></li>
                        <li><%= link_to "sign up", new_user_registration_path %></li>
                     </ul>
                  </div>
              </div>
          </div>
     
     </div>

     <div class="container">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
            <%= yield %>
      </div>


  </body>
</html>
